body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color: rgb(61, 61, 173);
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(123, 68, 174);
    text-decoration: underline;
}
img{
    width: 328px;
}
#avisoazahar{
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
}
.secciones{
    font-weight: 800;
    color: white;
}
.separador{
    margin: 0px 15px;
    font-weight: bold;
}
.blanco{
    color: white;
}
p{
    color: white;
}